 

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800|Poppins&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat',sans-serif;
}
.cards{
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
  padding: 20px;
}
.cards h2.header{
  font-size: 15px;
  margin: 0 0 30px 0;
  text-transform: lowercase;
  letter-spacing: 1px;
  text-align: center;
  color: white;

}
.services{
  display: flex;
  align-items: center;
}
.content{
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  margin: 20px;
  padding: 20px;
  border: 2px solid black;
  border-radius: 4px;
  transition: all .3s ease;

}
 .content .fab{
  font-size: 70px;
  margin: 16px 0;
} 
 .content > *{
  flex: 1 1 100%;
}




.content h1{
  font-size: 30px;
  margin: 16px 0;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: bold;
}
 .content p{
  font-size: 17px;
  font-family: 'Poppins',sans-serif;
}
.content h2{
    
        font-size: 17px;
        font-family: 'Poppins',sans-serif;
      
}
.content a{
  margin: 22px 0;
  background: black;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  border: 1px solid black;
  padding: 15px 0;
  border-radius: 25px;
  transition: .3s ease;
}
.content a:hover{
  border-radius: 4px;
} 
